
.header{
    display: flex;
    padding-top: 5vw;
    height: 35vw;
}
.boxofdoom{
display: flex;
height: 30vw;
}
.focusbox{
    display: flex;
    flex-direction: column;
    height: 30vw;
    width: 30%;
    margin-left: 15vw;
    margin-right: 10vw;
    padding-top: 1.5vw;
    
}
.titlebox{
    display: flex;
    font-size: 4.0vw;
    font-weight: bold;
    margin-bottom: .5vw;
}
.subtitlebox{
    display: flex;
    font-size: 1.8vw;
    font-weight: bold;
    margin-bottom: .5vw;
}
.billingtextbox{
    display: flex;
    color: gray;
    font-size: 1vw;
    margin-bottom: 1.2vw;
}
.buttonbox{
    display: flex;
    width: 100%;
    margin-bottom: .8vw;
}
.doubletap{
    display: flex;
    font-size: 1vw;
    color: grey;    
    margin-bottom: 1.3vw;
}   

.smalltext{
    display: flex;
    height: 2vw;
    
    
}

.signupfreebutton{
    text-decoration: none;
    display: flex;
    color: white;
    background-color: blue;
    border-color: blue;
    border-style: solid;
    padding-top: .8vw;
    padding-bottom: .8vw;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    border-radius: 8%;
    border-width: 1px;
    width: 5vw;
    height: 1vw;
    font-size: .85vw;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 1vw;

}
.chatwithusbutton{
    text-decoration: none;
    display: flex;
    color: blue;
    background-color: white;
    border-style: solid;
    border-color:blue;
    padding-top: .8vw;
    padding-bottom: .8vw;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    border-radius: 8%;
    border-width: 1px;
    width: 5vw;
    height: 1vw;
    font-size: .85vw;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}
.dividerline{
    background-color: lightgray;
    height: 1px;
    width: 50%;
    
}

#first{
    display: flex;
    height: 1.2vw;
    margin: auto;
}

.page{
    display: flex;
    flex-direction: column;
    
}

.mainbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 140vaw;
}

.bluebox{
    display: flex;
  
    
    height: 40vw;
    width: 70vw;
    margin-top: 4vw;
    margin-bottom: 5vw;
    border-radius: 2%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
   
    
}

.imgbox{
    display: flex;
    
    height: 20vw;
    margin-left: 3vw;
    padding-right: 3vw;
    


}



.blueboxtext{
    display: flex;
    flex-direction: column;
    height: 40vw;
    width: 40vw;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: blue;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
}

.blueboxtitle{
display: flex;
height: 15vw;
justify-content: center;
align-items: center;
font-weight: bold;
color: white;
font-size: 1.5vw;
}

.blueboxwords{
    display: flex;
   height: 10vw;
   justify-content: left;
   color: white;
   font-size: 1vw;

}
.bodytext{
    display: flex;
    font-size: 1.4vw;
    color: black;
    margin-top: 5vw;
    width: 35%;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.thefooter{
    display: flex;
    width: 100%;
    height: 35vw;
    background-color: blue;
}

.footertitle{
    display: flex;
}

.footerbuttons{
    display: flex;
}